<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ShellTower_Level_2_1_attackAni_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,216},{90,54}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,7},{90,54}}</string>
                <key>sourceSize</key>
                <string>{92,62}</string>
            </dict>
            <key>ShellTower_Level_2_1_attackAni_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,0},{92,56}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{92,56}}</string>
                <key>sourceSize</key>
                <string>{92,62}</string>
            </dict>
            <key>ShellTower_Level_2_1_attackAni_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,54},{92,58}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{92,58}}</string>
                <key>sourceSize</key>
                <string>{92,62}</string>
            </dict>
            <key>ShellTower_Level_2_1_attackAni_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,0},{92,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,62}}</string>
                <key>sourceSize</key>
                <string>{92,62}</string>
            </dict>
            <key>ShellTower_Level_2_1_attackAni_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,112},{92,50}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,11},{92,50}}</string>
                <key>sourceSize</key>
                <string>{92,62}</string>
            </dict>
            <key>ShellTower_Level_2_1_attackAni_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,112},{92,50}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,11},{92,50}}</string>
                <key>sourceSize</key>
                <string>{92,62}</string>
            </dict>
            <key>ShellTower_Level_2_1_attackAni_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,112},{92,50}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,11},{92,50}}</string>
                <key>sourceSize</key>
                <string>{92,62}</string>
            </dict>
            <key>ShellTower_Level_2_1_attackAni_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,112},{92,50}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,11},{92,50}}</string>
                <key>sourceSize</key>
                <string>{92,62}</string>
            </dict>
            <key>ShellTower_Level_2_1_attackAni_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,112},{92,50}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,11},{92,50}}</string>
                <key>sourceSize</key>
                <string>{92,62}</string>
            </dict>
            <key>ShellTower_Level_2_1_attackAni_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,270},{90,50}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,11},{90,50}}</string>
                <key>sourceSize</key>
                <string>{92,62}</string>
            </dict>
            <key>ShellTower_Level_2_1_attackAni_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,224},{90,50}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,11},{90,50}}</string>
                <key>sourceSize</key>
                <string>{92,62}</string>
            </dict>
            <key>ShellTower_Level_2_1_attackAni_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,170},{90,54}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,7},{90,54}}</string>
                <key>sourceSize</key>
                <string>{92,62}</string>
            </dict>
            <key>ShellTower_Level_2_1_attackAni_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,268},{90,50}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,11},{90,50}}</string>
                <key>sourceSize</key>
                <string>{92,62}</string>
            </dict>
            <key>ShellTower_Level_2_1_attackAni_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,220},{90,50}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,11},{90,50}}</string>
                <key>sourceSize</key>
                <string>{92,62}</string>
            </dict>
            <key>ShellTower_Level_2_1_attackAni_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,166},{90,52}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,9},{90,52}}</string>
                <key>sourceSize</key>
                <string>{92,62}</string>
            </dict>
            <key>ShellTower_Level_2_1_attackAni_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,144},{90,54}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,7},{90,54}}</string>
                <key>sourceSize</key>
                <string>{92,62}</string>
            </dict>
            <key>ShellTower_Level_2_1_attackAni_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,112},{90,54}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,7},{90,54}}</string>
                <key>sourceSize</key>
                <string>{92,62}</string>
            </dict>
            <key>ShellTower_Level_2_1_attackAni_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,180},{90,54}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,7},{90,54}}</string>
                <key>sourceSize</key>
                <string>{92,62}</string>
            </dict>
            <key>ShellTower_Level_2_1_attackAni_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,162},{90,54}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,7},{90,54}}</string>
                <key>sourceSize</key>
                <string>{92,62}</string>
            </dict>
            <key>ShellTower_Level_2_1_attackAni_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,116},{90,54}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,7},{90,54}}</string>
                <key>sourceSize</key>
                <string>{92,62}</string>
            </dict>
            <key>ShellTower_Level_2_1_attackAni_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,112},{90,54}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,7},{90,54}}</string>
                <key>sourceSize</key>
                <string>{92,62}</string>
            </dict>
            <key>ShellTower_Level_2_1_attackAni_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,166},{90,54}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,7},{90,54}}</string>
                <key>sourceSize</key>
                <string>{92,62}</string>
            </dict>
            <key>ShellTower_Level_2_1_attackAni_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,130},{92,50}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,11},{92,50}}</string>
                <key>sourceSize</key>
                <string>{92,62}</string>
            </dict>
            <key>ShellTower_Level_2_1_attackAni_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,62},{92,54}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{92,54}}</string>
                <key>sourceSize</key>
                <string>{92,62}</string>
            </dict>
            <key>ShellTower_Level_2_1_attackAni_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,56},{92,56}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{92,56}}</string>
                <key>sourceSize</key>
                <string>{92,62}</string>
            </dict>
            <key>ShellTower_Level_2_1_attackAni_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,72},{92,58}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{92,58}}</string>
                <key>sourceSize</key>
                <string>{92,62}</string>
            </dict>
            <key>ShellTower_Level_2_1_attackAni_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,56},{92,56}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{92,56}}</string>
                <key>sourceSize</key>
                <string>{92,62}</string>
            </dict>
            <key>ShellTower_Level_2_1_attackAni_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,0},{92,56}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{92,56}}</string>
                <key>sourceSize</key>
                <string>{92,62}</string>
            </dict>
            <key>ShellTower_Level_2_1_empty_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,234},{90,52}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,9},{90,52}}</string>
                <key>sourceSize</key>
                <string>{92,62}</string>
            </dict>
            <key>ShellTower_Level_2_1_normal_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,216},{90,54}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,7},{90,54}}</string>
                <key>sourceSize</key>
                <string>{92,62}</string>
            </dict>
            <key>ShellTower_Level_2_2_attackAni_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,424},{84,52}}</string>
                <key>offset</key>
                <string>{4,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,25},{84,52}}</string>
                <key>sourceSize</key>
                <string>{94,78}</string>
            </dict>
            <key>ShellTower_Level_2_2_attackAni_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,346},{84,78}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{84,78}}</string>
                <key>sourceSize</key>
                <string>{94,78}</string>
            </dict>
            <key>ShellTower_Level_2_2_attackAni_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,428},{84,52}}</string>
                <key>offset</key>
                <string>{4,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,25},{84,52}}</string>
                <key>sourceSize</key>
                <string>{94,78}</string>
            </dict>
            <key>ShellTower_Level_2_2_attackAni_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,428},{84,52}}</string>
                <key>offset</key>
                <string>{4,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,25},{84,52}}</string>
                <key>sourceSize</key>
                <string>{94,78}</string>
            </dict>
            <key>ShellTower_Level_2_2_attackAni_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,428},{84,52}}</string>
                <key>offset</key>
                <string>{4,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,25},{84,52}}</string>
                <key>sourceSize</key>
                <string>{94,78}</string>
            </dict>
            <key>ShellTower_Level_2_2_attackAni_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,428},{84,52}}</string>
                <key>offset</key>
                <string>{4,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,25},{84,52}}</string>
                <key>sourceSize</key>
                <string>{94,78}</string>
            </dict>
            <key>ShellTower_Level_2_2_attackAni_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,428},{84,52}}</string>
                <key>offset</key>
                <string>{4,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,25},{84,52}}</string>
                <key>sourceSize</key>
                <string>{94,78}</string>
            </dict>
            <key>ShellTower_Level_2_2_attackAni_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,428},{84,52}}</string>
                <key>offset</key>
                <string>{4,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,25},{84,52}}</string>
                <key>sourceSize</key>
                <string>{94,78}</string>
            </dict>
            <key>ShellTower_Level_2_2_attackAni_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,428},{84,52}}</string>
                <key>offset</key>
                <string>{4,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,25},{84,52}}</string>
                <key>sourceSize</key>
                <string>{94,78}</string>
            </dict>
            <key>ShellTower_Level_2_2_attackAni_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,428},{84,52}}</string>
                <key>offset</key>
                <string>{4,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,25},{84,52}}</string>
                <key>sourceSize</key>
                <string>{94,78}</string>
            </dict>
            <key>ShellTower_Level_2_2_attackAni_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,390},{84,52}}</string>
                <key>offset</key>
                <string>{4,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,25},{84,52}}</string>
                <key>sourceSize</key>
                <string>{94,78}</string>
            </dict>
            <key>ShellTower_Level_2_2_attackAni_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,218},{90,50}}</string>
                <key>offset</key>
                <string>{1,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,27},{90,50}}</string>
                <key>sourceSize</key>
                <string>{94,78}</string>
            </dict>
            <key>ShellTower_Level_2_2_attackAni_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,340},{84,52}}</string>
                <key>offset</key>
                <string>{4,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,25},{84,52}}</string>
                <key>sourceSize</key>
                <string>{94,78}</string>
            </dict>
            <key>ShellTower_Level_2_2_attackAni_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,340},{84,52}}</string>
                <key>offset</key>
                <string>{4,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,25},{84,52}}</string>
                <key>sourceSize</key>
                <string>{94,78}</string>
            </dict>
            <key>ShellTower_Level_2_2_attackAni_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,372},{84,52}}</string>
                <key>offset</key>
                <string>{4,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,25},{84,52}}</string>
                <key>sourceSize</key>
                <string>{94,78}</string>
            </dict>
            <key>ShellTower_Level_2_2_attackAni_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,274},{86,56}}</string>
                <key>offset</key>
                <string>{3,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,21},{86,56}}</string>
                <key>sourceSize</key>
                <string>{94,78}</string>
            </dict>
            <key>ShellTower_Level_2_2_attackAni_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,270},{86,58}}</string>
                <key>offset</key>
                <string>{3,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,19},{86,58}}</string>
                <key>sourceSize</key>
                <string>{94,78}</string>
            </dict>
            <key>ShellTower_Level_2_2_attackAni_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,286},{86,60}}</string>
                <key>offset</key>
                <string>{3,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,17},{86,60}}</string>
                <key>sourceSize</key>
                <string>{94,78}</string>
            </dict>
            <key>ShellTower_Level_2_2_attackAni_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,234},{86,58}}</string>
                <key>offset</key>
                <string>{3,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,19},{86,58}}</string>
                <key>sourceSize</key>
                <string>{94,78}</string>
            </dict>
            <key>ShellTower_Level_2_2_attackAni_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,360},{84,56}}</string>
                <key>offset</key>
                <string>{4,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,21},{84,56}}</string>
                <key>sourceSize</key>
                <string>{94,78}</string>
            </dict>
            <key>ShellTower_Level_2_2_attackAni_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,372},{84,52}}</string>
                <key>offset</key>
                <string>{4,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,25},{84,52}}</string>
                <key>sourceSize</key>
                <string>{94,78}</string>
            </dict>
            <key>ShellTower_Level_2_2_attackAni_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,0},{94,54}}</string>
                <key>offset</key>
                <string>{0,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,23},{94,54}}</string>
                <key>sourceSize</key>
                <string>{94,78}</string>
            </dict>
            <key>ShellTower_Level_2_2_attackAni_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{94,72}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{94,72}}</string>
                <key>sourceSize</key>
                <string>{94,78}</string>
            </dict>
            <key>ShellTower_Level_2_2_attackAni_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,318},{84,72}}</string>
                <key>offset</key>
                <string>{4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,5},{84,72}}</string>
                <key>sourceSize</key>
                <string>{94,78}</string>
            </dict>
            <key>ShellTower_Level_2_2_attackAni_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,424},{84,74}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,3},{84,74}}</string>
                <key>sourceSize</key>
                <string>{94,78}</string>
            </dict>
            <key>ShellTower_Level_2_2_attackAni_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,424},{84,74}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,3},{84,74}}</string>
                <key>sourceSize</key>
                <string>{94,78}</string>
            </dict>
            <key>ShellTower_Level_2_2_attackAni_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,424},{84,76}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,1},{84,76}}</string>
                <key>sourceSize</key>
                <string>{94,78}</string>
            </dict>
            <key>ShellTower_Level_2_2_attackAni_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,424},{84,76}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,1},{84,76}}</string>
                <key>sourceSize</key>
                <string>{94,78}</string>
            </dict>
            <key>ShellTower_Level_2_2_empty_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,320},{86,52}}</string>
                <key>offset</key>
                <string>{3,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,24},{86,52}}</string>
                <key>sourceSize</key>
                <string>{94,78}</string>
            </dict>
            <key>ShellTower_Level_2_2_normal_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,424},{84,52}}</string>
                <key>offset</key>
                <string>{4,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,25},{84,52}}</string>
                <key>sourceSize</key>
                <string>{94,78}</string>
            </dict>
            <key>Shell_Tower_2_1_Bullet_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,492},{22,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,20}}</string>
                <key>sourceSize</key>
                <string>{22,20}</string>
            </dict>
            <key>Shell_Tower_2_1_Explode_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,328},{20,18}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,16},{20,18}}</string>
                <key>sourceSize</key>
                <string>{66,34}</string>
            </dict>
            <key>Shell_Tower_2_1_Explode_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,428},{66,12}}</string>
                <key>offset</key>
                <string>{0,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,22},{66,12}}</string>
                <key>sourceSize</key>
                <string>{66,34}</string>
            </dict>
            <key>Shell_Tower_2_1_Explode_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,416},{66,12}}</string>
                <key>offset</key>
                <string>{0,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,22},{66,12}}</string>
                <key>sourceSize</key>
                <string>{66,34}</string>
            </dict>
            <key>Shell_Tower_2_1_Explode_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,328},{32,26}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,6},{32,26}}</string>
                <key>sourceSize</key>
                <string>{66,34}</string>
            </dict>
            <key>Shell_Tower_2_1_Explode_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,330},{38,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,2},{38,30}}</string>
                <key>sourceSize</key>
                <string>{66,34}</string>
            </dict>
            <key>Shell_Tower_2_1_Explode_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,76},{46,34}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,0},{46,34}}</string>
                <key>sourceSize</key>
                <string>{66,34}</string>
            </dict>
            <key>Shell_Tower_2_1_Explode_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,442},{50,20}}</string>
                <key>offset</key>
                <string>{3,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,14},{50,20}}</string>
                <key>sourceSize</key>
                <string>{66,34}</string>
            </dict>
            <key>Shell_Tower_2_1_Explode_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,320},{56,20}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,14},{56,20}}</string>
                <key>sourceSize</key>
                <string>{66,34}</string>
            </dict>
            <key>Shell_Tower_2_1_Explode_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,364},{58,18}}</string>
                <key>offset</key>
                <string>{-1,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,16},{58,18}}</string>
                <key>sourceSize</key>
                <string>{66,34}</string>
            </dict>
            <key>Shell_Tower_2_1_Explode_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,360},{62,14}}</string>
                <key>offset</key>
                <string>{-2,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,20},{62,14}}</string>
                <key>sourceSize</key>
                <string>{66,34}</string>
            </dict>
            <key>Shell_Tower_2_1_Explode_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,442},{66,12}}</string>
                <key>offset</key>
                <string>{0,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,22},{66,12}}</string>
                <key>sourceSize</key>
                <string>{66,34}</string>
            </dict>
            <key>Shell_Tower_2_1_Explode_Bottom_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,328},{18,10}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{18,10}}</string>
                <key>sourceSize</key>
                <string>{28,12}</string>
            </dict>
            <key>Shell_Tower_2_1_Explode_Bottom_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,346},{22,12}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{22,12}}</string>
                <key>sourceSize</key>
                <string>{28,12}</string>
            </dict>
            <key>Shell_Tower_2_1_Explode_Bottom_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,318},{28,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,12}}</string>
                <key>sourceSize</key>
                <string>{28,12}</string>
            </dict>
            <key>Shell_Tower_2_2_Bullet_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,494},{18,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,18}}</string>
                <key>sourceSize</key>
                <string>{18,18}</string>
            </dict>
            <key>Shell_Tower_2_2_Explode_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,454},{26,22}}</string>
                <key>offset</key>
                <string>{-2,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,18},{26,22}}</string>
                <key>sourceSize</key>
                <string>{46,40}</string>
            </dict>
            <key>Shell_Tower_2_2_Explode_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,40},{46,36}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,36}}</string>
                <key>sourceSize</key>
                <string>{46,40}</string>
            </dict>
            <key>Shell_Tower_2_2_Explode_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,40},{46,36}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,36}}</string>
                <key>sourceSize</key>
                <string>{46,40}</string>
            </dict>
            <key>Shell_Tower_2_2_Explode_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,110},{40,34}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{40,34}}</string>
                <key>sourceSize</key>
                <string>{46,40}</string>
            </dict>
            <key>Shell_Tower_2_2_Explode_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,110},{40,34}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{40,34}}</string>
                <key>sourceSize</key>
                <string>{46,40}</string>
            </dict>
            <key>Shell_Tower_2_2_Explode_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,54},{2,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2,2}}</string>
                <key>sourceSize</key>
                <string>{46,40}</string>
            </dict>
            <key>Shell_Tower_2_2_Explode_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,328},{32,28}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,11},{32,28}}</string>
                <key>sourceSize</key>
                <string>{46,40}</string>
            </dict>
            <key>Shell_Tower_2_2_Explode_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,328},{32,28}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,11},{32,28}}</string>
                <key>sourceSize</key>
                <string>{46,40}</string>
            </dict>
            <key>Shell_Tower_2_2_Explode_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,330},{34,32}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,6},{34,32}}</string>
                <key>sourceSize</key>
                <string>{46,40}</string>
            </dict>
            <key>Shell_Tower_2_2_Explode_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,330},{34,32}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,6},{34,32}}</string>
                <key>sourceSize</key>
                <string>{46,40}</string>
            </dict>
            <key>Shell_Tower_2_2_Explode_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,330},{40,34}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{40,34}}</string>
                <key>sourceSize</key>
                <string>{46,40}</string>
            </dict>
            <key>Shell_Tower_2_2_Explode_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,330},{40,34}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{40,34}}</string>
                <key>sourceSize</key>
                <string>{46,40}</string>
            </dict>
            <key>Shell_Tower_2_2_Explode_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,0},{46,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,40}}</string>
                <key>sourceSize</key>
                <string>{46,40}</string>
            </dict>
            <key>Shell_Tower_2_2_Explode_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,0},{46,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,40}}</string>
                <key>sourceSize</key>
                <string>{46,40}</string>
            </dict>
            <key>Shell_Tower_2_2_Explode_Bottom_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,346},{20,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,10}}</string>
                <key>sourceSize</key>
                <string>{20,10}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Tower_02_Shell.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:46232774f688bbc1729405fe6c3be7d4$</string>
            <key>textureFileName</key>
            <string>Tower_02_Shell.png</string>
        </dict>
    </dict>
</plist>
