<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ArrowTower_Level_3_1_Left_attackAni_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{70,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,66}}</string>
                <key>sourceSize</key>
                <string>{70,66}</string>
            </dict>
            <key>ArrowTower_Level_3_1_Left_attackAni_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,0},{70,62}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{70,62}}</string>
                <key>sourceSize</key>
                <string>{70,66}</string>
            </dict>
            <key>ArrowTower_Level_3_1_Left_attackAni_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,0},{70,64}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{70,64}}</string>
                <key>sourceSize</key>
                <string>{70,66}</string>
            </dict>
            <key>ArrowTower_Level_3_1_Left_attackAni_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,0},{70,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,66}}</string>
                <key>sourceSize</key>
                <string>{70,66}</string>
            </dict>
            <key>ArrowTower_Level_3_1_Left_attackAni_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,0},{70,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,66}}</string>
                <key>sourceSize</key>
                <string>{70,66}</string>
            </dict>
            <key>ArrowTower_Level_3_1_Left_attackAni_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,0},{70,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,66}}</string>
                <key>sourceSize</key>
                <string>{70,66}</string>
            </dict>
            <key>ArrowTower_Level_3_1_Left_attackAni_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,0},{70,64}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{70,64}}</string>
                <key>sourceSize</key>
                <string>{70,66}</string>
            </dict>
            <key>ArrowTower_Level_3_1_Left_attackAni_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,0},{70,64}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{70,64}}</string>
                <key>sourceSize</key>
                <string>{70,66}</string>
            </dict>
            <key>ArrowTower_Level_3_1_Left_attackAni_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{70,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,66}}</string>
                <key>sourceSize</key>
                <string>{70,66}</string>
            </dict>
            <key>ArrowTower_Level_3_1_Right_attackAni_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,132},{70,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,66}}</string>
                <key>sourceSize</key>
                <string>{70,66}</string>
            </dict>
            <key>ArrowTower_Level_3_1_Right_attackAni_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,66},{70,62}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{70,62}}</string>
                <key>sourceSize</key>
                <string>{70,66}</string>
            </dict>
            <key>ArrowTower_Level_3_1_Right_attackAni_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,66},{70,64}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{70,64}}</string>
                <key>sourceSize</key>
                <string>{70,66}</string>
            </dict>
            <key>ArrowTower_Level_3_1_Right_attackAni_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,66},{70,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,66}}</string>
                <key>sourceSize</key>
                <string>{70,66}</string>
            </dict>
            <key>ArrowTower_Level_3_1_Right_attackAni_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,66},{70,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,66}}</string>
                <key>sourceSize</key>
                <string>{70,66}</string>
            </dict>
            <key>ArrowTower_Level_3_1_Right_attackAni_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,66},{70,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,66}}</string>
                <key>sourceSize</key>
                <string>{70,66}</string>
            </dict>
            <key>ArrowTower_Level_3_1_Right_attackAni_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,66},{70,64}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{70,64}}</string>
                <key>sourceSize</key>
                <string>{70,66}</string>
            </dict>
            <key>ArrowTower_Level_3_1_Right_attackAni_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,66},{70,64}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{70,64}}</string>
                <key>sourceSize</key>
                <string>{70,66}</string>
            </dict>
            <key>ArrowTower_Level_3_1_Right_attackAni_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,132},{70,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,66}}</string>
                <key>sourceSize</key>
                <string>{70,66}</string>
            </dict>
            <key>ArrowTower_Level_3_1_empty_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,66},{70,62}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{70,62}}</string>
                <key>sourceSize</key>
                <string>{70,66}</string>
            </dict>
            <key>ArrowTower_Level_3_1_normal_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,132},{70,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,66}}</string>
                <key>sourceSize</key>
                <string>{70,66}</string>
            </dict>
            <key>ArrowTower_Level_3_2_Left_attackAni_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,132},{68,64}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{68,64}}</string>
                <key>sourceSize</key>
                <string>{68,66}</string>
            </dict>
            <key>ArrowTower_Level_3_2_Left_attackAni_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,132},{68,64}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{68,64}}</string>
                <key>sourceSize</key>
                <string>{68,66}</string>
            </dict>
            <key>ArrowTower_Level_3_2_Left_attackAni_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,132},{68,64}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{68,64}}</string>
                <key>sourceSize</key>
                <string>{68,66}</string>
            </dict>
            <key>ArrowTower_Level_3_2_Left_attackAni_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,132},{68,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,66}}</string>
                <key>sourceSize</key>
                <string>{68,66}</string>
            </dict>
            <key>ArrowTower_Level_3_2_Left_attackAni_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,132},{68,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,66}}</string>
                <key>sourceSize</key>
                <string>{68,66}</string>
            </dict>
            <key>ArrowTower_Level_3_2_Left_attackAni_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,132},{68,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,66}}</string>
                <key>sourceSize</key>
                <string>{68,66}</string>
            </dict>
            <key>ArrowTower_Level_3_2_Left_attackAni_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,132},{68,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,66}}</string>
                <key>sourceSize</key>
                <string>{68,66}</string>
            </dict>
            <key>ArrowTower_Level_3_2_Left_attackAni_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,132},{68,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,66}}</string>
                <key>sourceSize</key>
                <string>{68,66}</string>
            </dict>
            <key>ArrowTower_Level_3_2_Left_attackAni_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,132},{68,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,66}}</string>
                <key>sourceSize</key>
                <string>{68,66}</string>
            </dict>
            <key>ArrowTower_Level_3_2_Left_attackAni_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,132},{68,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,66}}</string>
                <key>sourceSize</key>
                <string>{68,66}</string>
            </dict>
            <key>ArrowTower_Level_3_2_Left_attackAni_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,132},{68,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,66}}</string>
                <key>sourceSize</key>
                <string>{68,66}</string>
            </dict>
            <key>ArrowTower_Level_3_2_Right_attackAni_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,198},{68,64}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{68,64}}</string>
                <key>sourceSize</key>
                <string>{68,66}</string>
            </dict>
            <key>ArrowTower_Level_3_2_Right_attackAni_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,132},{68,64}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{68,64}}</string>
                <key>sourceSize</key>
                <string>{68,66}</string>
            </dict>
            <key>ArrowTower_Level_3_2_Right_attackAni_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,132},{68,64}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{68,64}}</string>
                <key>sourceSize</key>
                <string>{68,66}</string>
            </dict>
            <key>ArrowTower_Level_3_2_Right_attackAni_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,198},{68,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,66}}</string>
                <key>sourceSize</key>
                <string>{68,66}</string>
            </dict>
            <key>ArrowTower_Level_3_2_Right_attackAni_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,198},{68,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,66}}</string>
                <key>sourceSize</key>
                <string>{68,66}</string>
            </dict>
            <key>ArrowTower_Level_3_2_Right_attackAni_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,198},{68,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,66}}</string>
                <key>sourceSize</key>
                <string>{68,66}</string>
            </dict>
            <key>ArrowTower_Level_3_2_Right_attackAni_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,198},{68,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,66}}</string>
                <key>sourceSize</key>
                <string>{68,66}</string>
            </dict>
            <key>ArrowTower_Level_3_2_Right_attackAni_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,198},{68,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,66}}</string>
                <key>sourceSize</key>
                <string>{68,66}</string>
            </dict>
            <key>ArrowTower_Level_3_2_Right_attackAni_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,198},{68,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,66}}</string>
                <key>sourceSize</key>
                <string>{68,66}</string>
            </dict>
            <key>ArrowTower_Level_3_2_Right_attackAni_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,198},{68,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,66}}</string>
                <key>sourceSize</key>
                <string>{68,66}</string>
            </dict>
            <key>ArrowTower_Level_3_2_Right_attackAni_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,198},{68,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,66}}</string>
                <key>sourceSize</key>
                <string>{68,66}</string>
            </dict>
            <key>ArrowTower_Level_3_2_empty_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,198},{68,64}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{68,64}}</string>
                <key>sourceSize</key>
                <string>{68,66}</string>
            </dict>
            <key>ArrowTower_Level_3_2_normal_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,198},{68,64}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{68,64}}</string>
                <key>sourceSize</key>
                <string>{68,66}</string>
            </dict>
            <key>Arrow_Tower_3_1_Bullet_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,198},{12,28}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{12,28}}</string>
                <key>sourceSize</key>
                <string>{14,30}</string>
            </dict>
            <key>Arrow_Tower_3_1_Explode_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,198},{12,26}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{12,26}}</string>
                <key>sourceSize</key>
                <string>{14,30}</string>
            </dict>
            <key>Arrow_Tower_3_2_Bullet_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,198},{6,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{6,18}}</string>
                <key>sourceSize</key>
                <string>{6,18}</string>
            </dict>
            <key>Arrow_Tower_3_2_Explode_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,198},{8,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,16}}</string>
                <key>sourceSize</key>
                <string>{8,16}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Tower_03_Arrow.png</string>
            <key>size</key>
            <string>{490,264}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2d36208652ade1d1c575a8e62921438e$</string>
            <key>textureFileName</key>
            <string>Tower_03_Arrow.png</string>
        </dict>
    </dict>
</plist>
