<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>gun_bullet40.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,2},{81,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,27}}</string>
                <key>sourceSize</key>
                <string>{81,27}</string>
            </dict>
            <key>gun_bullet41.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{81,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,27}}</string>
                <key>sourceSize</key>
                <string>{81,27}</string>
            </dict>
            <key>gun_bullet42.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,2},{81,21}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{81,21}}</string>
                <key>sourceSize</key>
                <string>{81,27}</string>
            </dict>
            <key>gun_bullet43.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,2},{81,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{81,19}}</string>
                <key>sourceSize</key>
                <string>{81,27}</string>
            </dict>
            <key>gun_bullet44.png</key>
            <dict>
                <key>frame</key>
                <string>{{251,2},{81,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{81,19}}</string>
                <key>sourceSize</key>
                <string>{81,27}</string>
            </dict>
            <key>gun_tower_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,436},{74,66}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{74,66}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>gun_tower_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,333},{74,62}}</string>
                <key>offset</key>
                <string>{-3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{74,62}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>gun_tower_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,436},{74,66}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{74,66}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>gun_tower_1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,383},{74,66}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{74,66}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>gun_tower_1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,383},{74,66}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{74,66}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>gun_tower_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,183},{80,74}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{80,74}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>gun_tower_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,179},{80,74}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{80,74}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>gun_tower_2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,183},{80,74}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{80,74}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>gun_tower_2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,107},{80,74}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{80,74}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>gun_tower_2_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,107},{80,74}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{80,74}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>gun_tower_3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,107},{80,74}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{80,74}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>gun_tower_3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,103},{80,74}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{80,74}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>gun_tower_3_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,31},{80,74}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{80,74}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>gun_tower_3_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,31},{80,74}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{80,74}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>gun_tower_3_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,158},{80,74}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{80,74}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>light_tower_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,393},{72,70}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{72,70}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>light_tower_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,409},{72,70}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{72,70}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>light_tower_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,397},{72,70}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{72,70}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>light_tower_1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,333},{72,70}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{72,70}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>light_tower_1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,337},{72,70}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{72,70}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>light_tower_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,481},{70,66}}</string>
                <key>offset</key>
                <string>{-3,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{70,66}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>light_tower_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,469},{70,66}}</string>
                <key>offset</key>
                <string>{-3,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{70,66}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>light_tower_2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,405},{70,66}}</string>
                <key>offset</key>
                <string>{-3,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{70,66}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>light_tower_2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,251},{80,66}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{80,66}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>light_tower_2_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,234},{80,68}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,68}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>magic_tower00.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,179},{80,70}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{80,70}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>magic_tower01.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,101},{80,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{80,76}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>magic_tower02.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,179},{80,70}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{80,70}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>magic_tower03.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,183},{80,70}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{80,70}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>magic_tower04.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,101},{80,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{80,76}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>magic_tower10.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,370},{80,64}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{80,64}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>magic_tower11.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,317},{80,64}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{80,64}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>magic_tower12.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,304},{80,64}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{80,64}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>magic_tower13.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,251},{80,64}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{80,64}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>magic_tower14.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,304},{80,64}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{80,64}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>magic_tower20.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,101},{80,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{80,76}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>magic_tower21.png</key>
            <dict>
                <key>frame</key>
                <string>{{415,80},{80,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{80,76}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>magic_tower22.png</key>
            <dict>
                <key>frame</key>
                <string>{{333,23},{80,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{80,76}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>magic_tower23.png</key>
            <dict>
                <key>frame</key>
                <string>{{415,80},{80,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{80,76}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>magic_tower24.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,25},{80,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{80,76}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>magic_tower30.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,465},{66,68}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,8},{66,68}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>magic_tower31.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,255},{78,76}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,76}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>magic_tower32.png</key>
            <dict>
                <key>frame</key>
                <string>{{251,23},{80,76}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,76}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>magic_tower33.png</key>
            <dict>
                <key>frame</key>
                <string>{{417,2},{80,76}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,76}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>magic_tower34.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,255},{78,76}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,76}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>magic_tower40.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,451},{66,68}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,8},{66,68}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>magic_tower41.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,319},{72,74}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,2},{72,74}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>magic_tower42.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,255},{76,76}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{76,76}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>magic_tower43.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,259},{76,76}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{76,76}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>magic_tower44.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,319},{72,74}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,2},{72,74}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>tower.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:57b66156dafe3b95371fccc9bfe62c0a$</string>
            <key>textureFileName</key>
            <string>tower.png</string>
        </dict>
    </dict>
</plist>
